figure {
    float: right;
    margin-top: 0;
    margin-bottom: 1.5em;
    margin-left: 1.5em;
    max-width: 35%;

    @media (max-width: 684px) {
        float: none;
        margin-bottom: 0.5em;
        margin-inline: auto;
        max-width: 70%;
    }
}
