@font-face {
    font-family: 'Noto Sans Mono';
    src:  url('/fonts/NotoSansMono-Regular-Subset.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
    unicode-range: U+0294, U+02C8;
}

figure {
    float: right;
    margin-top: 0;
    margin-bottom: 1.5em;
    margin-left: 1.5em;
    max-width: 35%;

    @media (max-width: 684px) {
        float: none;
        margin-bottom: 0.5em;
        margin-inline: auto;
        max-width: 70%;
    }

    a {
        font-family: 'Noto Sans Mono', 'Fira Code';
    }
}
