base_url = "https://eyalkalderon.com"
theme = "terminus"
compile_sass = true

title = "Eyal Kalderon"
description = "If you listen to a UNIX shell, can you hear the C?"

default_language = "en"
generate_feeds = true
feed_filenames = ["rss.xml"]
author = "Eyal Kalderon"

taxonomies = [
    { name = "tags" },
    { name = "categories" },
]

[markdown]
bottom_footnotes = true
highlight_code = true
highlight_theme = "monokai"
render_emoji = true
smart_punctuation = true

[extra]
copy_button = false
favicon = "images/favicon.png"
fediverse_creator = "@ebkalderon@hachyderm.io"
header_title = "eyal kalderon"
show_default_author = false

main_menu = [
    { name = "home", url = "", trailing_slash = true },
    { name = "about", url = "about", trailing_slash = true },
    { name = "projects", url = "projects", trailing_slash = true },
    { name = "résumé", url = "resume.pdf", new_tab = true },
    { name = "rss", url = "rss.xml" },
]

socials = [
    { name = "email", url = "mailto:ebkalderon@gmail.com?subject=hi&body=PGP%20key%2000AB4C0942DCBA25" },
    { name = "github", url = "https://github.com/ebkalderon" },
    { name = "linkedin", url = "https://www.linkedin.com/in/ebkalderon" },
    { name = "mastodon", url = "https://hachyderm.io/@ebkalderon" },
    { name = "keyoxide", url = "https://keyoxide.org/d5ad5bd47835b0f0b0c3046c00ab4c0942dcba25" },
]

[extra.content_security_policy]
enable = true
allowed_domains = [
    { directive = "connect-src", domains = ["'self'", "cloudflareinsights.com"] },
    { directive = "frame-src", domains = ["'self'", "utteranc.es"] },
    { directive = "img-src", domains = ["'self'", "data:"] },
    { directive = "script-src", domains = ["'self'", "utteranc.es", "static.cloudflareinsights.com"] },
    { directive = "style-src-elem", domains = ["'self'", "'unsafe-inline'", "utteranc.es"] },
]

[extra.theme_switcher]
enable = false
default = "terminus"
