<header class="navbar-header">
  <a href="/" class="navbar-logo">Eyal Kalderon</a>
  <a href="#" class="navbar-buttons-trigger">Menu<span></span></a>
</header>
<nav class="navbar-container">
  <ul class="navbar-buttons">
    {% for button in site.data.navbar %}
      {% if page.url == button.url %}
        <li class="navbar-buttons-selected"><a href="#"><i class="fa {{ button.icon }} fa-2x"></i><br>{{ button.name }}</a></li>
      {% else %}
        <li><a href="#"><i class="fa {{ button.icon }} fa-2x"></i><br>{{ button.name }}</a></li>
      {% endif %}
    {% endfor %}
  </ul>
  <span class="navbar-marker navbar-color-1"></span>
</nav>
