---
# Primary SASS file.
---

@import "bootstrap/bootstrap";
@import "bourbon/bourbon";
@import "_config";
@import "_layout";
@import "_mixins";
@import "_navbar";

*, *::after, *::before {
	box-sizing: border-box;
}

html {
	font-size: 62.5%;
}

body {
	font: {
		size: 1.6rem;
		// family: $primary-font; // variables inside partials > _variables.scss
	}
	background-color: $body-bg;
}

a {
  color: #FFF;
	text-decoration: none;
}
