{% extends "zerm/templates/page.html" -%}

{%- block main -%}
    <article class="post">
        <header>
            <h1 class="post-title">
                <a href="{{ page.permalink  }}">{{ page.title }}</a>
            </h1>
            {{ posts::meta(page=page, author=config.extra.show_author) }}
            {{ posts::langs(page=page) }}

            {%- block ToC -%}
                {%- if page.extra.ToC or config.extra.ToC -%}
                    {{ toc::toc(t=page.toc) }}
                {%- endif -%}
            {%- endblock ToC -%}
        </header>

        {#- Skipping logic for cover as was in original Terminal theme -#}

        {{ page.content | safe }}

        <section class="post">
            <hr/>
            <br/>
            <script src="https://utteranc.es/client.js"
                  repo="ebkalderon/ebkalderon.github.io"
                  issue-term="pathname"
                  theme="github-dark-orange"
                  crossorigin="anonymous"
                  async>
            </script>
        </section>
    </article>
{%- endblock main -%}
